<!doctype html>
<html class="no-js" lang="">

<head>
  <%- csp %>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title><%= programName %> - <%= fileName %> - Add Letter</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="../img/logo/favicon.png">
  <!-- Normalize CSS -->
  <link rel="stylesheet" href="../css/normalize.css">
  <!-- Main CSS -->
  <link rel="stylesheet" href="../css/main.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <!-- Fontawesome CSS -->
  <link rel="stylesheet" href="../css/all.min.css">
  <!-- Flaticon CSS -->
  <link rel="stylesheet" href="../fonts/flaticon.css">
  <!-- Animate CSS -->
  <link rel="stylesheet" href="../css/animate.min.css">
  <!-- Select 2 CSS -->
  <link rel="stylesheet" href="../css/select2.min.css">
  <!-- Data Table CSS -->
  <link rel="stylesheet" href="../css/jquery.dataTables.min.css">
  <!-- Toastr CSS -->
  <link rel="stylesheet" href="../css/toastr.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="../css/style.css">
  <script>
    if (typeof module === 'object') {
      window.module = module;
      module = undefined;
    }
  </script>
  <!-- Modernize js -->
  <script src="../js/modernizr-3.6.0.min.js"></script>
</head>

<body>
  <!-- Preloader Start Here -->
  <div id="preloader"></div>
  <!-- Preloader End Here -->
  <div id="wrapper" class="wrapper bg-ash">
    <!-- Header Menu Area Start Here -->
    <div class="navbar navbar-expand-md header-menu-one bg-light">
      <div class="nav-bar-header-one">
        <div class="header-logo">
          <a href="#">
            <img src="../img/logo/logo.png" alt="logo">
          </a>
        </div>
        <div class="toggle-button sidebar-toggle">
          <button type="button" class="item-link">
            <span class="btn-icon-wrap">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </button>
        </div>
      </div>
    </div>
    <!-- Header Menu Area End Here -->
    <!-- Page Area Start Here -->
    <div class="dashboard-page-one">
      <!-- Sidebar Area Start Here -->
      <%- menuHTML %>
      <!-- Sidebar Area End Here -->
      <div class="dashboard-content-one">
        <!-- Breadcubs Area Start Here -->
        <div class="breadcrumbs-area">
          <h3>Add A Letter</h3>
          <ul>
            <li>
              <a href="#"><%= programName %></a>
            </li>
            <li>
              <a href="dashboard"><%= fileName %></a>
            </li>
            <li>
              <a href="letters_overview">Letters Overview</a>
            </li>
            <li>Add A Letter</li>
          </ul>
        </div>
        <!-- Breadcubs Area End Here -->
        <!-- Class Routine Area Start Here -->
        <div class="row">
          <div class="col-4-xxxl col-12">
            <div class="card height-auto">
              <div class="card-body">
                <div class="heading-layout1">
                  <div class="item-title">
                    <h3>Add a Letter</h3>
                  </div>
                </div>
                <form class="new-added-form">
                  <div class="row">
                    <div class="col-12-xxxl col-lg-6 col-12 form-group">
                      <label>From<br><span style="font-style: italic;font-size: 13px;opacity: 0;">Need some space, sorry.</span></label>
                      <input type="text" name="from" id="from" placeholder="Who is the letter from?" class="form-control">
                    </div>
                    <div class="col-12-xxxl col-lg-6 col-12 form-group">
                      <label>To <span style="color:red;">*</span><br><span style="font-style: italic;font-size: 13px;">You can set a default in the Settings menu.</span></label>
                      <input type="text" name="to" id="to" placeholder="To who is this letter send to?" value="<%= setting_name %>" class="form-control">
                    </div>
                    <div class="col-12-xxxl col-lg-6 col-12 form-group">
                      <label>Subject<br><span style="font-style: italic;font-size: 13px;opacity: 0;">Need some space, sorry.</span></label>
                      <input type="text" name="subject" id="subject" placeholder="The subject of the letter (if any)" class="form-control">
                    </div>
                    <div class="col-12-xxxl col-lg-6 col-12 form-group">
                      <label>Date <span style="color:red;">*</span><br><span style="font-style: italic;font-size: 13px;opacity: 0;">Need some space, sorry.</span></label>
                      <input type="date" name="date" id="date" placeholder="" class="form-control">
                    </div>
                    <div class="col-12-xxxl col-lg-6 col-12 form-group">
                      <label>Label(s)<br><span style="font-style: italic;font-size: 13px;">You can set these up under 'Manage Labels'</span></label>
                      <%- checkboxLabelsHTML %>
                    </div>
                    <div class="col-12-xxxl col-lg-6 col-12 form-group">
                      <label>Upload the document <span style="color:red;">*</span><br><span style="font-style: italic;font-size: 13px;">Accepts: *.PDF, *.PNG *.JP(E)G *.BMP</span></label>
                      <input type="file" name="file" id="file" class="form-control-file" accept=".pdf,.png,.jpg,.jpeg,.bmp">
                    </div>
                    <div class="col-12 form-group mg-t-8">
                      <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>
                      <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-8-xxxl col-12">
            <div class="card height-auto">
              <div class="card-body">
                <div class="heading-layout1" style="margin: 0;">
                  <div class="item-title">
                    <h3>Preview document</h3>
                  </div>
                </div>
                <div class="notice-board-wrap" style="overflow-y:hidden;">
                  <div class="notice-list">
                    <div class="entry-meta"><span style="font-style: italic;font-size: 13px;">Once your document is loaded we will display a preview here!</span></div>
                    <object id="preview-document" style="width:100%;object-fit:scale-down;"></object>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Class Routine Area End Here -->
          <footer class="footer-wrap-layout1">
            <div class="copyright">© Copyrights <a href="#" class="external-window"><%= programName %></a> (<%= version %>) <span id="year">xxxx</span>. All rights reserved. Designed by <a href="https://themeforest.net/user/psdboss" class="external-window">PsdBosS</a>.</div>
          </footer>
        </div>
      </div>
      <!-- Page Area End Here -->
    </div>
    <!-- jQuery -->
    <script src="../js/jquery-3.3.1.min.js"></script>
    <!-- jQuery Validate -->
    <script src="../js/jquery.validate.min.js"></script>
    <!-- Plugins js -->
    <script src="../js/plugins.js"></script>
    <!-- Popper js -->
    <script src="../js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../js/bootstrap.min.js"></script>
    <!-- Select 2 Js -->
    <script src="../js/select2.min.js"></script>
    <!-- Scroll Up Js -->
    <script src="../js/jquery.scrollUp.min.js"></script>
    <!-- Data Table Js -->
    <script src="../js/jquery.dataTables.min.js"></script>
    <!-- Toastr Js -->
    <script src="../js/toastr.js"></script>
    <!-- Custom Js -->
    <script src="../js/main.js"></script>
    <script>
      if (window.module) module = window.module;
    </script>
    <!-- Electron Custom JS -->
    <script src="../js/electron_main.js"></script>
    <script>
      function resizePreviewDocument() {
        let cWidth = parseInt($("#preview-document").css("width").replace("px", ""))
        let newHeight = Math.round(cWidth * (842/595))
        $("#preview-document").css("height", `${newHeight}px`)
      }
      $("body").ready(function() {
        resizePreviewDocument()
        $("form").validate({
          rules: {
            file: {
              required: true
            },
            to: {
              required: true
            },
            date: {
              required: true
            },
          }
        })
        let dn = new Date()
        let month = (dn.getMonth().toString().length == 1) ? `0${dn.getMonth().toString()}` : dn.getMonth().toString()
        let day = (dn.getDate().toString().length == 1) ? `0${dn.getDate().toString()}` : dn.getDate().toString()
        $("input#date").val(`${dn.getFullYear()}-${month}-${day}`)
      })
      $(window).resize(function() {
        resizePreviewDocument()
      })
      $("button[type='reset']").on("click", () => $("object#preview-document").attr("data", ""))
      $("input[type='file']").change(async () => {
        var fileName = $("input[type='file']").val();
        let fileB64 = await toBase64($("input[type='file']").prop("files")[0]) 
        let fType = fileB64.match(/data:(.+);/)[1]
        $("object#preview-document").attr("type", fType)
        $("object#preview-document").attr("data", fileB64)
      });
      $("form").submit(async (event) => {
        event.preventDefault()
        if (!$("form").valid()) return false
        let checkboxesChecked = []
        let fileB64 = await toBase64($("input[type='file']").prop("files")[0])
        let fType = fileB64.match(/data:(.+);/)[1]
        $("form input.label[type='checkbox']:checked").each((index, element) => checkboxesChecked.push(parseInt($(element).val())))
        electron.ipcRenderer.send("addLetter", $("form input#from").val(), $("form input#to").val(), $("form input#subject").val(), $("form input#date").val(), checkboxesChecked, fileB64, fType)
      })
    </script>
</body>

</html>