<!doctype html>
<html class="no-js" lang="">
<head>
  <%- csp %>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title><%= programName %> - First Time</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="../img/logo/favicon.png">
  <!-- Normalize CSS -->
  <link rel="stylesheet" href="../css/normalize.css">
  <!-- Main CSS -->
  <link rel="stylesheet" href="../css/main.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <!-- Fontawesome CSS -->
  <link rel="stylesheet" href="../css/all.min.css">
  <!-- Flaticon CSS -->
  <link rel="stylesheet" href="../fonts/flaticon.css">
  <!-- Full Calender CSS -->
  <link rel="stylesheet" href="../css/fullcalendar.min.css">
  <!-- Animate CSS -->
  <link rel="stylesheet" href="../css/animate.min.css">
  <!-- Data Table CSS -->
  <link rel="stylesheet" href="../css/jquery.dataTables.min.css">
  <!-- Toastr CSS -->
  <link rel="stylesheet" href="../css/toastr.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="../css/style.css">
  <script>
    if (typeof module === 'object') {
      window.module = module;
      module = undefined;
    }
  </script>
  <!-- Modernize js -->
  <script src="../js/modernizr-3.6.0.min.js"></script>
</head>
<body>
  <!-- Preloader Start Here -->
  <div id="preloader"></div>
  <!-- Preloader End Here -->
  <div id="wrapper" class="wrapper bg-ash">
    <!-- Page Area Start Here -->
    <div class="dashboard-page-one">
      <div class="dashboard-content-one">
        <!-- Breadcubs Area Start Here -->
        <div class="breadcrumbs-area">
          <h3>Welcome to <%= programName %>!</h3>
          <ul>
            <li>
              <a href="#"><%= programName %></a>
            </li>
            <li>First Time</li>
          </ul>
        </div>
        <!-- Breadcubs Area End Here -->
        <div class="row">
          <!-- Student Info Area Start Here -->
          <div class="col-12">
            <div class="card dashboard-card-ten">
              <div class="card-body">
                <div class="heading-layout1">
                  <div class="item-title">
                    <h3>Throw away your physical binders!</h3>
                    <p style="font-style: italic;">It's time to digitalize your letters and such, with <%= programName %>!</p>
                  </div>
                </div>
                <div class="student-info">
                  <div class="media media-none--xs">
                    <div class="media-body">
                      <h3 class="item-title">Digitalize</h3>
                      <p>Scan in your letters and/or add digital letters (like PDF) so you can easily find them in one place!</p>
                    </div>
                    <div class="media-body">
                      <h3 class="item-title">Sorting</h3>
                      <p>After digitalizing your letters add some meta data to easily sort through them.</p>
                    </div>
                    <div class="media-body">
                      <h3 class="item-title">Finding</h3>
                      <p>And once you need that specific letter from that specific company, organization or person you can easily find these back!</p>
                    </div>
                  </div>
                </div>
                <div class="student-info">
                  <div class="media media-none--xs">
                    <div class="media-body">
                      <h3 class="item-title">Getting started</h3>
                      <p>To get started with <%= programName %> click on <b>'File &gt; New Binder...'</b> in the top left corner!</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Student Info Area End Here -->
        </div>
        <!-- Footer Area Start Here -->
        <footer class="footer-wrap-layout1">
          <div class="copyright">© Copyrights <a href="#" class="external-window"><%= programName %></a> (<%= version %>) <span id="year">xxxx</span>. All rights reserved. Designed by <a href="https://themeforest.net/user/psdboss" class="external-window">PsdBosS</a>.</div>
        </footer>
        <!-- Footer Area End Here -->
      </div>
    </div>
    <!-- Page Area End Here -->
  </div>
  <!-- jquery-->
  <script src="../js/jquery-3.3.1.min.js"></script>
  <!-- Plugins js -->
  <script src="../js/plugins.js"></script>
  <!-- Popper js -->
  <script src="../js/popper.min.js"></script>
  <!-- Bootstrap js -->
  <script src="../js/bootstrap.min.js"></script>
  <!-- Counterup Js -->
  <script src="../js/jquery.counterup.min.js"></script>
  <!-- Moment Js -->
  <script src="../js/moment.min.js"></script>
  <!-- Waypoints Js -->
  <script src="../js/jquery.waypoints.min.js"></script>
  <!-- Scroll Up Js -->
  <script src="../js/jquery.scrollUp.min.js"></script>
  <!-- Full Calender Js -->
  <script src="../js/fullcalendar.min.js"></script>
  <!-- Chart Js -->
  <script src="../js/Chart.min.js"></script>
  <!-- Data Table Js -->
  <script src="../js/jquery.dataTables.min.js"></script>
  <!-- Toastr Js -->
  <script src="../js/toastr.js"></script>
  <!-- Custom Js -->
  <script src="../js/main.js"></script>
  <script>if (window.module) module = window.module;</script>
  <!-- Electron Custom JS -->
  <script src="../js/electron_main.js"></script>
  <script>
    // Setting toastr options
    toastr.options = {
      "closeButton": true,
      "debug": false,
      "newestOnTop": true,
      "progressBar": false,
      "positionClass": "toast-top-right",
      "preventDuplicates": false,
      "onclick": null,
      "showDuration": "300",
      "hideDuration": "300",
      "timeOut": "3000",
      "extendedTimeOut": "1000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "slideDown",
      "hideMethod": "fadeOut"
    }
  </script>
</body>
</html>