<!doctype html>
<html class="no-js" lang="">

<head>
  <%- csp %>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title><%= programName %> - <%= fileName %> - Manage Labels</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="../img/logo/favicon.png">
  <!-- Normalize CSS -->
  <link rel="stylesheet" href="../css/normalize.css">
  <!-- Main CSS -->
  <link rel="stylesheet" href="../css/main.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <!-- Fontawesome CSS -->
  <link rel="stylesheet" href="../css/all.min.css">
  <!-- Flaticon CSS -->
  <link rel="stylesheet" href="../fonts/flaticon.css">
  <!-- Animate CSS -->
  <link rel="stylesheet" href="../css/animate.min.css">
  <!-- Data Table CSS -->
  <link rel="stylesheet" href="../css/jquery.dataTables.min.css">
  <!-- Select 2 CSS -->
  <link rel="stylesheet" href="../css/select2.min.css">
  <!-- Toastr CSS -->
  <link rel="stylesheet" href="../css/toastr.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="../css/style.css">
  <script>
    if (typeof module === 'object') {
      window.module = module;
      module = undefined;
    }
  </script>
  <!-- Modernize js -->
  <script src="../js/modernizr-3.6.0.min.js"></script>
</head>

<body>
  <!-- Preloader Start Here -->
  <div id="preloader"></div>
  <!-- Preloader End Here -->
  <div id="wrapper" class="wrapper bg-ash">
    <!-- Header Menu Area Start Here -->
    <div class="navbar navbar-expand-md header-menu-one bg-light">
      <div class="nav-bar-header-one">
        <div class="header-logo">
          <a href="index.html">
            <img src="../img/logo/logo.png" alt="logo">
          </a>
        </div>
        <div class="toggle-button sidebar-toggle">
          <button type="button" class="item-link">
            <span class="btn-icon-wrap">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </button>
        </div>
      </div>
    </div>
    <!-- Header Menu Area End Here -->
    <!-- Page Area Start Here -->
    <div class="dashboard-page-one">
      <!-- Sidebar Area Start Here -->
      <%- menuHTML %>
      <!-- Sidebar Area End Here -->
      <div class="dashboard-content-one">
        <!-- Breadcubs Area Start Here -->
        <div class="breadcrumbs-area">
          <h3>Manage Labels</h3>
          <ul>
            <li>
              <a href="#"><%= programName %></a>
            </li>
            <li>
              <a href="dashboard"><%= fileName %></a>
            </li>
            <li>Manage Labels</li>
          </ul>
        </div>
        <!-- Breadcubs Area End Here -->
        <div class="row">
          <!-- Add Notice Area Start Here -->
          <div class="col-4-xxxl col-12">
            <div class="card height-auto">
              <div class="card-body">
                <div class="heading-layout1">
                  <div class="item-title">
                    <h3>Create A Label</h3>
                  </div>
                </div>
                <form class="new-added-form" id="add_label" action="#">
                  <div class="row">
                    <div class="col-12-xxxl col-lg-6 col-12 form-group">
                      <label>Name</label>
                      <input type="text" name="name" placeholder="The name of the label" class="form-control">
                    </div>
                    <div class="col-12-xxxl col-lg-6 col-12 form-group">
                      <label>Color</label>
                      <input type="color" name="color" placeholder="An HTML, RGB or HSL color code" value="#FF0000" class="form-control">
                    </div>
                  </div>
                  <div class="col-12 form-group mg-t-8">
                    <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>
                    <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- Add Notice Area End Here -->
          <!-- Teacher Table Area Start Here -->
          <div class="col-8-xxxl col-12">
            <div class="card height-auto">
              <div class="card-body">
                <div class="heading-layout1">
                  <div class="item-title">
                    <h3>Manage labels</h3>
                  </div>
                </div>
                <div class="table-responsive">
                  <table class="table display data-table-here text-nowrap">
                    <thead>
                      <tr>
                        <th>
                          <div class="form-check">
                            <input type="checkbox" class="form-check-input checkAll">
                            <label class="form-check-label">ID</label>
                          </div>
                        </th>
                        <th>Name</th>
                        <th>Color</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <%- labelList %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- Teacher Table Area End Here -->
        </div>
        <!-- Class Routine Area End Here -->
        <footer class="footer-wrap-layout1">
          <div class="copyright">© Copyrights <a href="#" class="external-window"><%= programName %></a> (<%= version %>) <span id="year">xxxx</span>. All rights reserved. Designed by <a href="https://themeforest.net/user/psdboss" class="external-window">PsdBosS</a>.</div>
        </footer>
      </div>
    </div>
    <!-- Page Area End Here -->
  </div>
  <!-- jquery-->
  <script src="../js/jquery-3.3.1.min.js"></script>
  <!-- Plugins js -->
  <script src="../js/plugins.js"></script>
  <!-- Popper js -->
  <script src="../js/popper.min.js"></script>
  <!-- Bootstrap js -->
  <script src="../js/bootstrap.min.js"></script>
  <!-- Select 2 Js -->
  <script src="../js/select2.min.js"></script>
  <!-- Scroll Up Js -->
  <script src="../js/jquery.scrollUp.min.js"></script>
  <!-- Validator Js -->
  <script src="../js/jquery.validate.min.js"></script>
  <!-- Data Table Js -->
  <script src="../js/jquery.dataTables.min.js"></script>
  <!-- Toastr Js -->
  <script src="../js/toastr.js"></script>
  <!-- Custom Js -->
  <script src="../js/main.js"></script>
  <script>
    if (window.module) module = window.module;
  </script>
  <!-- Electron Custom JS -->
  <script src="../js/electron_main.js"></script>
  <script>
    $("body").ready(function() {
      $('.data-table-here').DataTable({
        paging: false,
        searching: true,
        info: true,
        lengthChange: true,
        order: [],
        language: {
          search: "",
          searchPlaceholder: "Search...",
          lengthMenu: "Display _MENU_ letters per page"
        },
        columnDefs: [{
          targets: [0, -1], // column or columns numbers
          orderable: false // set orderable for selected columns
        }],
      });
      $("form#add_label").validate({
        rules: {
          name: {
            required: true
          },
          color: {
            required: true
          }
        }
      })
      $("form#add_label").submit((event) => {
        event.preventDefault()
        if (!$("form#add_label").valid()) return false
        electron.ipcRenderer.send("addLabel", $("form#add_label input[name='name']").val(), $("form#add_label input[name='color']").val())
      })
    });
  </script>
</body>

</html>