<!doctype html>
<html class="no-js" lang="">

<head>
  <%- csp %>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title><%= programName %> - <%= fileName %> - Settings</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="../img/logo/favicon.png">
  <!-- Normalize CSS -->
  <link rel="stylesheet" href="../css/normalize.css">
  <!-- Main CSS -->
  <link rel="stylesheet" href="../css/main.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <!-- Fontawesome CSS -->
  <link rel="stylesheet" href="../css/all.min.css">
  <!-- Flaticon CSS -->
  <link rel="stylesheet" href="../fonts/flaticon.css">
  <!-- Animate CSS -->
  <link rel="stylesheet" href="../css/animate.min.css">
  <!-- Select 2 CSS -->
  <link rel="stylesheet" href="../css/select2.min.css">
  <!-- Data Table CSS -->
  <link rel="stylesheet" href="../css/jquery.dataTables.min.css">
  <!-- Toastr CSS -->
  <link rel="stylesheet" href="../css/toastr.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="../css/style.css">
  <script>
    if (typeof module === 'object') {
      window.module = module;
      module = undefined;
    }
  </script>
  <!-- Modernize js -->
  <script src="../js/modernizr-3.6.0.min.js"></script>
</head>

<body>
  <!-- Preloader Start Here -->
  <div id="preloader"></div>
  <!-- Preloader End Here -->
  <div id="wrapper" class="wrapper bg-ash">
    <!-- Header Menu Area Start Here -->
    <div class="navbar navbar-expand-md header-menu-one bg-light">
      <div class="nav-bar-header-one">
        <div class="header-logo">
          <a href="#">
            <img src="../img/logo/logo.png" alt="logo">
          </a>
        </div>
        <div class="toggle-button sidebar-toggle">
          <button type="button" class="item-link">
            <span class="btn-icon-wrap">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </button>
        </div>
      </div>
    </div>
    <!-- Header Menu Area End Here -->
    <!-- Page Area Start Here -->
    <div class="dashboard-page-one">
      <!-- Sidebar Area Start Here -->
      <%- menuHTML %>
      <!-- Sidebar Area End Here -->
      <div class="dashboard-content-one">
        <!-- Breadcubs Area Start Here -->
        <div class="breadcrumbs-area">
          <h3>Settings</h3>
          <ul>
            <li>
              <a href="#"><%= programName %></a>
            </li>
            <li>
              <a href="dashboard"><%= fileName %></a>
            </li>
            <li>Settings</li>
          </ul>
        </div>
        <!-- Breadcubs Area End Here -->
        <!-- Class Routine Area Start Here -->
        <div class="row">
          <div class="col-4-xxxl col-12">
            <div class="card height-auto">
              <div class="card-body">
                <div class="heading-layout1">
                  <div class="item-title">
                    <h3>Settings</h3>
                  </div>
                </div>
                <form class="new-added-form">
                  <div class="row">
                    <div class="col-12-xxxl col-lg-6 col-12 form-group">
                      <label>Your name <span style="color:red;">*</span><br><span style="font-style: italic;font-size: 13px;">This name will be autofilled when adding letters.</span></label>
                      <input type="text" name="name" id="name" placeholder="Your name" class="form-control" value="<%= setting_name %>">
                    </div>
                    <div class="col-12 form-group mg-t-8">
                      <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>
                      <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- Class Routine Area End Here -->
          <footer class="footer-wrap-layout1">
            <div class="copyright">© Copyrights <a href="#" class="external-window"><%= programName %></a> (<%= version %>) <span
                id="year">xxxx</span>. All rights reserved. Designed by <a href="https://themeforest.net/user/psdboss"
                class="external-window">PsdBosS</a>.</div>
          </footer>
        </div>
      </div>
      <!-- Page Area End Here -->
    </div>
    <!-- jQuery -->
    <script src="../js/jquery-3.3.1.min.js"></script>
    <!-- jQuery Validate -->
    <script src="../js/jquery.validate.min.js"></script>
    <!-- Plugins js -->
    <script src="../js/plugins.js"></script>
    <!-- Popper js -->
    <script src="../js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../js/bootstrap.min.js"></script>
    <!-- Select 2 Js -->
    <script src="../js/select2.min.js"></script>
    <!-- Scroll Up Js -->
    <script src="../js/jquery.scrollUp.min.js"></script>
    <!-- Data Table Js -->
    <script src="../js/jquery.dataTables.min.js"></script>
    <!-- Toastr Js -->
    <script src="../js/toastr.js"></script>
    <!-- Custom Js -->
    <script src="../js/main.js"></script>
    <script>
      if (window.module) module = window.module;
    </script>
    <!-- Electron Custom JS -->
    <script src="../js/electron_main.js"></script>
    <script>
      $("form").submit(async (event) => {
        event.preventDefault()
        settingObject = {
          "name": $("form input#name").val()
        }
        electron.ipcRenderer.send("editSettings", JSON.stringify(settingObject))
      })
    </script>
</body>

</html>