<!doctype html>
<html class="no-js" lang="">

<head>
  <%- csp %>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title><%= programName %> - <%= fileName %> - View Letter</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="../img/logo/favicon.png">
  <!-- Normalize CSS -->
  <link rel="stylesheet" href="../css/normalize.css">
  <!-- Main CSS -->
  <link rel="stylesheet" href="../css/main.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <!-- Fontawesome CSS -->
  <link rel="stylesheet" href="../css/all.min.css">
  <!-- Flaticon CSS -->
  <link rel="stylesheet" href="../fonts/flaticon.css">
  <!-- Animate CSS -->
  <link rel="stylesheet" href="../css/animate.min.css">
  <!-- Data Table CSS -->
  <link rel="stylesheet" href="../css/jquery.dataTables.min.css">
  <!-- Select 2 CSS -->
  <link rel="stylesheet" href="../css/select2.min.css">
  <!-- Toastr CSS -->
  <link rel="stylesheet" href="../css/toastr.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="../css/style.css">
  <style>
    .edit-input {
      max-width: 80px;
    }
  </style>
  <script>
    if (typeof module === 'object') {
      window.module = module;
      module = undefined;
    }
  </script>
  <!-- Modernize js -->
  <script src="../js/modernizr-3.6.0.min.js"></script>
</head>

<body>
  <!-- Preloader Start Here -->
  <div id="preloader"></div>
  <!-- Preloader End Here -->
  <div id="wrapper" class="wrapper bg-ash">
    <!-- Header Menu Area Start Here -->
    <div class="navbar navbar-expand-md header-menu-one bg-light">
      <div class="nav-bar-header-one">
        <div class="header-logo">
          <a href="index.html">
            <img src="../img/logo/logo.png" alt="logo">
          </a>
        </div>
        <div class="toggle-button sidebar-toggle">
          <button type="button" class="item-link">
            <span class="btn-icon-wrap">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </button>
        </div>
      </div>
    </div>
    <!-- Header Menu Area End Here -->
    <!-- Page Area Start Here -->
    <div class="dashboard-page-one">
      <!-- Sidebar Area Start Here -->
      <%- menuHTML %>
      <!-- Sidebar Area End Here -->
      <div class="dashboard-content-one">
        <!-- Breadcubs Area Start Here -->
        <div class="breadcrumbs-area">
          <h3>Viewing Letter</h3>
          <ul>
            <li>
              <a href="#"><%= programName %></a>
            </li>
            <li>
              <a href="dashboard"><%= fileName %></a>
            </li>
            <li>
              <a href="letters_overview">Letters Overview</a>
            </li>
            <li>Viewing Letter</li>
          </ul>
        </div>
        <!-- Breadcubs Area End Here -->
        <!-- All Subjects Area Start Here -->
        <div class="row">
          <!-- Detail box starts here -->
          <div style="width:100%;">
            <div class="card height-auto">
              <div class="card-body">
                <div class="heading-layout1">
                  <div class="item-title" style="width: 95%;">
                    <h3 style="display:inline;">Subject: </h3><h4 style="display:inline;" id="subject"><%= __subject %></h4>
                  </div>
                  <div class="dropdown">
                    <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">...</a>
    
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" id="edit-subject" href="#"><i class="fas fa-pencil-alt" style="color:#ffd633;"></i>Edit Subject</a>
                      <a class="dropdown-item delete-letter" data-location="${letter.uid}" href="#"><i class="fas fa-trash-alt text-orange-red"></i>Delete</a>
                    </div>
                  </div>
                </div>
                <div class="single-info-details">
                  <div class="item-content">
                    <div class="info-table">
                      <div class="container" id="document-info">
                        <div class="row">
                          <div class="col-md">
                            <span>From:</span><br>
                            <span>Date:</span><br>
                            <span>Labels:</span><br>
                          </div>
                          <div class="col-md" style="color:black;font-weight:bold;">
                            <span id="from"><%= __from %></span><br>
                            <span id="date"><%= __date %></span><br>
                            <span id="labels"><%- __labels %></span><br>
                          </div>
                          <div class="col-2">
                            <span id="from-icon"><a href="#" class="edit-pencil" alt="Edit 'From'" data-field="from"><i class="fas fa-pencil-alt"></i></a></span><br>
                            <span id="date-icon"><a href="#" class="edit-pencil" alt="Edit 'Date'"  data-field="date"><i class="fas fa-pencil-alt"></i></a></span><br>
                            <span id="labels-icon"><a href="#" class="edit-pencil" alt="Edit 'Labels'" data-field="labels"><i class="fas fa-pencil-alt"></i></a></span><br>
                          </div>
                          <div class="col-md">
                            <span>To:</span><br>
                            <span>Year:</span><br>
                            <span>Type:</span><br>
                          </div>
                          <div class="col-md" style="color:black;font-weight:bold;">
                            <span id="to"><%= __to %></span><br>
                            <span id="year"><%= __year %></span><br>
                            <span id="type"><%= __type %></span><br>
                          </div>
                          <div class="col-2">
                            <span id="to-icon"><a href="#" class="edit-pencil" alt="Edit 'To'" data-field="to"><i class="fas fa-pencil-alt"></i></a></span><br>
                            <span id="year-icon"><a href="#" class="edit-pencil" alt="Edit 'Year'" data-field="year"><i class="fas fa-pencil-alt"></i></a></span><br>
                            <span id="type-icon"><a href="#" class="edit-pencil" alt="Edit 'Type'" data-field="type"><i class="fas fa-pencil-alt"></i></a></span><br>
                          </div>
                        </div>
                        <br>
                      </div>
                    </div>
                  </div>
                  <div class="item-img" style="display:flex; justify-content: center;margin-right:0;">
                    <object id="preview-document" style="width:75%;object-fit:scale-down;" type="<%= __type %>" data="<%= __content %>"></object>
                    <!-- <p>Document placeholder</p> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer-wrap-layout1">
          <div class="copyright">© Copyrights <a href="#" class="external-window"><%= programName %></a> (<%= version %>) <span id="year">xxxx</span>. All rights reserved. Designed by <a href="https://themeforest.net/user/psdboss" class="external-window">PsdBosS</a>.</div>
        </footer>
      </div>
    </div>
    <!-- Page Area End Here -->
  </div>
  <!-- jquery-->
  <script src="../js/jquery-3.3.1.min.js"></script>
  <!-- Plugins js -->
  <script src="../js/plugins.js"></script>
  <!-- Popper js -->
  <script src="../js/popper.min.js"></script>
  <!-- Bootstrap js -->
  <script src="../js/bootstrap.min.js"></script>
  <!-- Select 2 Js -->
  <script src="../js/select2.min.js"></script>
  <!-- Scroll Up Js -->
  <script src="../js/jquery.scrollUp.min.js"></script>
  <!-- Validator Js -->
  <script src="../js/jquery.validate.min.js"></script>
  <!-- Data Table Js -->
  <script src="../js/jquery.dataTables.min.js"></script>
  <!-- Toastr Js -->
  <script src="../js/toastr.js"></script>
  <!-- Custom Js -->
  <script src="../js/main.js"></script>
  <script>
    if (window.module) module = window.module;
  </script>
  <!-- Electron Custom JS -->
  <script src="../js/electron_main.js"></script>
  <script>
    function resizeElements() {
      $("#document-info").css("width", ($(".dashboard-content-one").innerWidth() - 90) + "px")
      $("#preview-document").css("width", $("#document-info").innerWidth() + "px")
    }
    const letterUID = parseInt("<%= __uid %>")
    var labelListHTML = `<%- labelList %>`
    function getCurrentLabelsHTML() {
      electron.ipcRenderer.send("getLetterLabelHTML", letterUID, "updateLetterLabels")
    }
    electron.ipcRenderer.on('updateLetterLabels', (event, obj) => {
      if (obj.success) {
        labelListHTML = obj.msg
        $("span#labels").html(labelListHTML)
      } else toastr.error(undefined, "Failed to get the current labels!")
    })
    var orgHTML
    var orgValue
    var editingField
    function captureResult(res) {
      if (!res.success) {
        toastr.error(res.msg, "Task failed!")
        finishEditing(true)
      } else {
        toastr.success(undefined, "Field edited!")
        finishEditing(false)
      }
    }
    electron.ipcRenderer.on('view_letter-captureResult', (event, res) => captureResult(res))
    function sendEditedFields() {
      toastr.info(undefined, "Saving...")
      let field = $("input").attr("name")
      let newValue = $("input").val()
      if (orgValue == newValue) {
        finishEditing(true)
        return toastr.success(undefined, "Field edited!")
      }
      if (editingField == "labels") {
        field = "labels"
        newValue = []
        $("input[type='checkbox']:checked").each((index, elem) => newValue.push(parseInt($(elem).val())))
        newValue = JSON.stringify(newValue)
      }
      electron.ipcRenderer.send("editLetter", letterUID, field, newValue, "view_letter-captureResult")
    }
    function finishEditing(cancel = false) {
      if (editingField == "content") {
        if (cancel) {
          $("input").each((index, elem) => $(elem).remove())
          return true
        }
        toBase64($("input[type='file']").prop("files")[0]).then((fileB64) => {
          let fType = fileB64.match(/data:(.+);/)[1]
          $("#preview-document").attr("type", fType)
          $("#preview-document").attr("data", fileB64)
        })
        $("input").each((index, elem) => $(elem).remove())
        return true
      }
      if (isEmptyAny([orgHTML, orgValue, editingField])) return false
      if (cancel) {
        if (editingField == "labels") $(`#${editingField}`).html(orgValue)
        else $(`#${editingField}`).text(orgValue)
      } else {
        if (editingField == "labels") getCurrentLabelsHTML()
        else $(`#${editingField}`).text($("input").val())
      }
      if (editingField != "subject") $(`#${editingField}-icon`).html(orgHTML)
      orgValue = undefined
      orgHTML = undefined
      editingField = undefined
      return true
    }
    $(document).ready(() => {
      resizeElements()
      $(document).on("click", "a.edit-pencil", (event) => {
        if (!isEmptyAny([orgHTML, orgValue, editingField])) return toastr.warning("You are already editing a field. Either finish or cancel the field you are editing.", "Not possible")
        $("input").each((index, elem) => $(elem).remove())
        if ($(event.currentTarget).data("field") == "type") {
          $("body").append(`<input type="file" name="file" class="form-control-file" accept=".pdf,.png,.jpg,.jpeg,.bmp" style="display:none;" />`)
          $("input[type='file']").click()
          return
        }
        orgHTML = $(event.currentTarget.parentElement).html()
        editingField = $(event.currentTarget).data("field")
        orgValue = $(`span#${editingField}`).text()
        $(event.currentTarget.parentElement).html(`<a href="#" class="finish-editing" alt="Finish editing 'From'" data-field="from"><i class="fas fa-check"></i></a>`)
        console.dir(event.currentTarget)
        console.dir($(event.currentTarget.parentElement).html())
        console.dir($(event.currentTarget).data("field"))
        switch (editingField) {
          case "from":
          case "to":
            $(`span#${editingField}`).html(`<input type="text" name="${editingField}" value="${orgValue}" class="edit-input" />`)
            break;
          case "date":
            $(`span#${editingField}`).html(`<input type="date" name="${editingField}" value="${orgValue}" class="edit-input" />`)
            break;
          case "labels":
            getValueFromBackEnd("getLabelCheckboxes", [letterUID]).then((res) => {
              if (!isEmpty(res)) $(`span#${editingField}`).html(res)
              else {
                toastr.error(undefined, "Failed to get labels.")
                finishEditing(true)
              }
            })
            break;
          default:
            $(`span#${editingField}`).text("")
            finishEditing(true)
            break;
        }
      })
      $(document).on("click", "a.finish-editing", (event) => {
        if (isEmptyAny([orgHTML, orgValue, editingField])) return toastr.warning("NOBODY EXPECTS THE SPANISH INQUISITION!")
        sendEditedFields()
        finishEditing()
      })
      $(document).on("keyup", "input", (event) => {
        if (event.key === "Escape") finishEditing(true)
        else if (event.key === "Enter") sendEditedFields()
      })
      $(document).on("change", "input[type='file']", async (event) => {
        toastr.info(undefined, "Saving...")
        editingField = "content"
        electron.ipcRenderer.send("editLetter", letterUID, editingField, await toBase64($("input[type='file']").prop("files")[0]), "view_letter-captureResult")
      })
      $("#edit-subject").on("click", (event) => {
        if (!isEmptyAny([orgHTML, orgValue, editingField])) return toastr.warning("You are already editing a field. Either finish or cancel the field you are editing.", "Not possible")
        orgHTML = $("#subject").text()
        editingField = "subject"
        orgValue = $("#subject").text()
        $("#subject").html(`<input type="text" name="subject" value="${orgValue}" style="width: 85%;">`)
      })
    })
    $(window).on("resize", () => resizeElements())
  </script>
</body>

</html>