<!doctype html>
<html class="no-js" lang="">

<head>
  <%- csp %>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title><%= programName %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="../img/logo/favicon.png">
  <!-- Normalize CSS -->
  <link rel="stylesheet" href="../css/normalize.css">
  <!-- Main CSS -->
  <link rel="stylesheet" href="../css/main.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <!-- Fontawesome CSS -->
  <link rel="stylesheet" href="../css/all.min.css">
  <!-- Flaticon CSS -->
  <link rel="stylesheet" href="../fonts/flaticon.css">
  <!-- Animate CSS -->
  <link rel="stylesheet" href="../css/animate.min.css">
  <!-- Select 2 CSS -->
  <link rel="stylesheet" href="../css/select2.min.css">
  <!-- Data Table CSS -->
  <link rel="stylesheet" href="../css/jquery.dataTables.min.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="../css/style.css">
  <script>
    if (typeof module === 'object') {
      window.module = module;
      module = undefined;
    }
  </script>
  <!-- Modernize js -->
  <script src="../js/modernizr-3.6.0.min.js"></script>
</head>

<body>
  <!-- Preloader Start Here -->
  <div id="preloader"></div>
  <!-- Preloader End Here -->
  <div id="wrapper" class="wrapper bg-ash">
    <!-- Page Area Start Here -->
    <div class="dashboard-page-one">
      <div class="dashboard-content-one">
        <!-- Breadcubs Area Start Here -->
        <div class="breadcrumbs-area">
          <h3>Welcome to <%= programName %>!</h3>
        </div>
        <!-- Breadcubs Area End Here -->
        <!-- All Subjects Area Start Here -->
        <div class="row">
          <div class="col-3">
            <div class="card height-auto">
              <div class="card-body">
                <div class="heading-layout1">
                  <div class="item-title">
                    <h3>Getting Started</h3>
                  </div>
                </div>
                <div class="student-info">
                  <div class="media media-none--xs">
                    <div class="media-body">
                      <h3 class="item-title"></h3>
                      <p>
                        <a href="#" class="new-file">New Binder</a><br>
                        <a href="#" class="load-file">Load Binder</a><br>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-9">
            <div class="card height-auto">
              <div class="card-body">
                <div class="heading-layout1">
                  <div class="item-title">
                    <h3>Recent Binders</h3>
                  </div>
                  <!-- TODO: Edit the dropdown menu to reflect useful options -->
                  <div class="dropdown">
                    <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">...</a>

                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item clear-recents" href="#"><i class="fas fa-trash-alt text-red"></i>Clear</a>
                    </div>
                  </div>
                </div>
                <div class="table-responsive">
                  <table class="table display data-table text-nowrap">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Location</th>
                        <th>Last Opened</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <%- recentList %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- All Subjects Area End Here -->
        <footer class="footer-wrap-layout1">
          <div class="copyright">© Copyrights <a href="#" class="external-window"><%= programName %></a> (<%= version %>) <span id="year">xxxx</span>. All rights reserved. Designed by <a href="https://themeforest.net/user/psdboss" class="external-window">PsdBosS</a>.</div>
        </footer>
      </div>
    </div>
    <!-- Page Area End Here -->
  </div>
  <!-- jquery-->
  <script src="../js/jquery-3.3.1.min.js"></script>
  <!-- Plugins js -->
  <script src="../js/plugins.js"></script>
  <!-- Popper js -->
  <script src="../js/popper.min.js"></script>
  <!-- Bootstrap js -->
  <script src="../js/bootstrap.min.js"></script>
  <!-- Select 2 Js -->
  <script src="../js/select2.min.js"></script>
  <!-- Scroll Up Js -->
  <script src="../js/jquery.scrollUp.min.js"></script>
  <!-- Data Table Js -->
  <script src="../js/jquery.dataTables.min.js"></script>
  <!-- Custom Js -->
  <script src="../js/main.js"></script>
  <script>
    if (window.module) module = window.module;
  </script>
  <!-- Electron Custom JS -->
  <script src="../js/electron_main.js"></script>
</body>

</html>